body {
    background-color: #333;
    color: yellow;
    font-family: sans-serif;
    text-align: center;
}

#header {

}

#button-container {
    margin: 0 auto;
    text-align: center;
}

.button {
    cursor: pointer;
    margin: 50px 20px 0;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
}

.button:hover {
    box-sizing: border-box;
    border: 10px solid yellow;
}

.far {
    font-size: 72px;
}

.hide {
    display: none;
}